<% action = @taxon.persisted? ? admin_settings_taxonomy_taxon_path(@taxon) : admin_settings_taxonomy_taxons_path %>

<%= form_for @taxon, url: action, as: :taxon do |f| %>
  <%= render 'beehive/shared/form_errors', resource: f.object %>

  <div class="form-section row">
    <div class="col-4">
      <h2 class="form-section-title">Basic details</h2>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', rows: 4 %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @taxonomy.persisted? %>
    <hr class="form-section-separator">

    <div class="form-section row">
      <div class="col-4">
        <h2 class="form-section-title">Danger zone</h2>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <%= link_to 'Delete taxon', admin_settings_taxonomy_taxon_path(@taxon), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr class="form-section-separator">

  <%= f.submit 'Save' %>
<% end %>
