<%= render 'beehive/shared/page_header', title: @taxonomy.decorate do %>
  <%= content_for :body do %>
    <p>Manage taxons for <%= @taxonomy.decorate %> taxonomy</p>
  <% end %>

  <%= content_for :actions do %>
    <a href="<%= new_admin_settings_taxonomy_taxon_path %>" class="btn btn-primary">Add taxonomy</a>
  <% end %>
<% end %>

<div class="bh-page-content">
  <%= search_form_for @q, url: admin_settings_taxonomy_taxons_path, data: { controller: 'search-form' } do |f| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-secondary" data-action="click->search-form#toggleMoreFilters">
          Filter
        </button>
      </div>

      <%= f.search_field :name_or_description_cont, placeholder: 'Quick search...',
                                                    class: 'form-control',
                                                    data: { action: 'keydown->search-form#submitForm' }
      %>
    </div>

    <div class="card d-none" data-target="search-form.moreFilters">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :name_cont, 'Name' %>
              <%= f.search_field :name_cont, class: 'form-control' %>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <%= f.label :description_cont, 'Description' %>
              <%= f.search_field :description_cont, class: 'form-control' %>
            </div>
          </div>
        </div>

        <%= f.submit 'Filter results', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <table class="table table-hover table-striped mt-4">
    <thead>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :name) %></th>
      <th>Description</th>
      <th><%= sort_link(@q, :taxonables_count, 'Taxonables') %></th>
      <th></th>
    </thead>

    <% @taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.id %></td>
        <td><%= taxon.name %></td>
        <td><%= taxon.description %></td>
        <td><%= taxon.taxonables_count %></td>
        <td class="text-right">
          <a href="<%= edit_admin_settings_taxonomy_taxon_path(@taxonomy, taxon) %>" class="btn btn-primary btn-sm">
            <i class="fa fa-pen"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </table>

  <%== pagy_nav(@pagy) %>
</div>
