<!DOCTYPE html>
<html>
<head>
  <title>Beehive taxonomies</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "beehive/taxonomies/application", media: "all" %>
  <%= javascript_include_tag "beehive/taxonomies/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
